---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="container">
			<img src="./logo.svg" alt="">
		</div>
	</main>
</Layout>

<style>
	.container {
		display: grid;
		place-content: center;
		height: 95vh;
	}
	img {
		width: 380px;
	}
</style>
