---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Camaleon tech | Producciones audiovisuales">
	<main>
		<div class="container">
			<img src="./logo.svg" alt="">
		</div>
	</main>
</Layout>

<style>
	.container {
		display: grid;
		place-content: center;
		height: 85vh;
		padding: 3rem;
	}
	img {
		max-width: 400px;
		width: 100%;
	}
</style>
